{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reset Password</title>
  </head>
  <body>
    <div class="container">
      <div class="col s12 card" style="padding: 20px">
        <h4 class="center-align">Hello, {{user.first_name}} {{user.last_name}}({{user.username}})</h4>
        <h6 class="center-align" style="margin: 0">
          You are receiving this E-mail becuase you have requested for a
          password change.
        </h6>
        <p class="center-align" style="margin: 0; padding-top: 8px">
          Please click on the Button below to continue changing your password
        </p>
        <br />
        <center>
          <a
            href="http://localhost:3000/login/reset-password/{{uid}}/{{token}}"
            target="_blank"
            rel="noopener noreferrer"
            style="
              text-decoration: none;
              border-radius: 8px;
              background-color: #404040;
              border: 1px solid #000;
              color: #fff;
              padding: 10px 15px;
            "
          >
            RESET PASSOWRD
          </a>
        </center>
        <br />
        <p>
          Please ignore this message, If this request was not made by you
        </p>
      </div>
    </div>
  </body>
</html>
{% endautoescape %}